html, body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5eaaa8;
    color: white;
    padding: 3rem 3rem 10rem 3rem;
    font-size: 3rem;
    text-align: center;
}

section {
    background-color: #f8f1f1;
    padding: 1rem 3rem 3rem 3rem;
    border: 10px solid #5eaaa8;
    border-radius: 15px;
    margin: -7rem auto 5rem auto;
    width: 400px;
}

.return-link {
    color: #555555;
    text-align: center;
}


a {
    border: none;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 5rem;
    color: #5eaaa8;
    text-align: center;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

input[type="file"] {
    background-color: white;
    width: 100%;
    padding: .5rem;
}

button {
    padding: 1rem 3rem;
    background-color: #a3d2ca;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all .5s;
}
button:hover {
    background-color: #5eaaa8;
}
button:active {
    box-shadow: inset 0 0 5px #000000;
}


#send {
    text-align: center;
    margin-top: 3rem;
}

#link {
    width: 100%;
    padding: .5rem;
}